[Unit]
Description=Update sysfs file permissions for "Charger Control"
Requires=tmp.mount
After=tmp.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/charger-control-permissions.sh

[Install]
WantedBy=basic.target
